.img{
  width: 190px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 100px;
  background-size: 100% auto;
   
}

.cards {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  max-width: 1000px;
  grid-auto-rows: minmax(auto, 400px);
}

.goDetail{
  text-decoration: none;
  color:black;
  margin-bottom: 10px;
}
.goDetail1{
  text-decoration: none;
  color:black;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
 
}

.giDetailName{
  text-decoration: none;
  color:black;
  height: 130px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.backGround{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
}

.navLink{
  text-decoration: none;
  background-color: burlywood;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 
}

.Botton{
  margin-left: 10px;
  background-color: burlywood;
}

.Botton:hover{
  background-color: blanchedalmond;
  color: black;
}