.nav{
  background-color: burlywood;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.navLink1{
  text-decoration: none;
  color:black
}
.navLink1:hover{
  color: black;
  font-weight: bold;
}
.navLink2{
  text-decoration: none;
  color:black
}
.navLink2:hover{
  color: black;
  font-weight: bold;
}